* {
  box-sizing: border-box;
}

.field {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 415px;
  margin: 0 auto;
}

.field-item {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.item-img {
  background-image: url("../img/goblin.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
